body {
    text-align: center;
    font-family: sans-serif;
    background-color:black;
    color: white;
}
a {
    display: block;
    margin: 20px;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    text-align: left;
}

.img {
    width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 10px 0;
    list-style-type: square;
    text-align: center;
}

button{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

header {
    margin-bottom: 20px;
    text-align: left;
}